body{
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 0px 30px;
  border-radius: 5px;
}
#carddiv {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 35%;
}

.mainPetCard {
  min-width: 300px;
  max-width: 300px;
  max-height: 450px;
  margin: 25px;
  padding: 0;
  border: 1px solid lightblue;
  border-radius: 10px;
  order: 3;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.petCard p{
  line-height: 20px;
}
.petCard img{
  height: 175px;
  width: 175px;
  padding: 20px;
  align-items: center;
}

.petCard{
  min-height: 340px;
}

.mainPetCard header{
  background-color: grey;
  border-radius: 10px 10px 0px 0px;
  width: 300px;
  height: 75px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  line-height: 37px;
  border: 1px solid lightblue;
}

.mainPetCard footer {
  
  height: 75px;
  width: 300px;
  border-radius: 0 0 5px 5px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 37px;
  border: 1px solid lightblue;

}

.cat{
  background-color: lightblue;
  color: blue
}

.dog{
  background-color: lightgreen;
  color: green
}

.dino{
  background-color: orange;
  color: white
}
.all {
  background-color: teal;
}

.btn{
  color: white;
  /* -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black; */
}
